<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calc_kit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calckit">
        <activity android:name=".Temperature"
            android:label="Temperature Converter"
            android:parentActivityName=".Unit">
        </activity>
        <activity
            android:name=".Area"
            android:label="Area Converter"
            android:parentActivityName=".Unit">
        </activity>
        <activity
            android:name=".Length"
            android:label="Length Converter"
            android:parentActivityName=".Unit">
        </activity>
        <activity
            android:name=".Time"
            android:label="Time Converter"
            android:parentActivityName=".Unit">
        </activity>
        <activity
            android:name=".Weight"
            android:label="Weight Converter"
            android:parentActivityName=".Unit">
        </activity>
        <activity
            android:name=".Currency"
            android:label="Currency Converter"
            android:parentActivityName=".Unit">
        </activity>
        <activity
            android:name=".Unit"
            android:label="Unit Converter"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Scientific"
            android:label="Scientific Calculator"
            android:parentActivityName=".Scientific" />
        <activity
            android:name=".Basic"
            android:label="Basic Calculator"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>